h1 { direction: inherit; color: #0066cc }
body { font-family: "Calibri" }
h2 { margin-top: 0.5cm; margin-bottom: 0.4cm; border: none; padding: 0cm; direction: inherit; font-variant: normal; color: #0066cc; page-break-before: auto; page-break-after: auto }
h3 { margin-top: 0.3cm; margin-bottom: 0.2cm; direction: inherit; font-variant: normal; color: #0066cc }
.code { background-color: #c0c0c0 ;font-family:"Courier";font-weight: bold; }
.reference { background-color: #dcffff}
